# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea
/venv
/matrices/*
/plots/*

*.pickle
*.npy
*.wav
*.raw
*.npz
secret.yaml

.membrane_potential
